// ########################
// #       COLORS         #
// ########################

$color-primary: #1995AD;
$color-secondary: #A1D6E2;

$color-light: #F1F1F2;
$color-cta: #FB6542;


// ########################
// #    COMPONENT-VARS    #
// ########################

// MENU VARS
$menu-width: 50%;

// HEADER VARS
$header-height: 40px;

